@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFFFFF;
  --secondary: #F5F5F5;
  --neutral: #595959;
  --header: #24FF69;
  --danger: #ff5050;
  --border: #cacaca;

  --lg-bold: 700;
  --md-bold: 400;
  --light-bold: 100;
  --xl-text: 40px;
  --lg-text: 35px;
  --md-text: 20px;
  --sx-text: 15px;

  /* color scheme */

  /* blue shades */
  --blue-800: #004577;
  --blue-500: #0089ee;
  --blue-300: #66b8f5;
  --blue-100: #cce7fc;

  /* yellow shades */
  --yellow-800: #755a04;
  --yellow-500: #eab308;
  --yellow-300: #f2d16b;
  --yellow-100: #fbf0ce;

  /* Sidebar Variables */
  --sidebar-width: 16rem;
}

/* The default background color for the app */
body {
  background-color: var(--primary);
}